### Passo 1

Crie um banco de dados para armazenar os dados usando um design de modelagem dimensional. (MSSQL / MySQL / Postgres)

Utilizaremos o nosso banco de dados PostgreSQL. A seguir foi feita a modelagem Star Schema da nossa solução utilizando tabelas fato e dimensão.

1. Tabela de Dimensão Dim_Date - Para Datas:

In [ ]:
CREATE TABLE Dim_Date (
    date_id SERIAL PRIMARY KEY,
    date_value DATE NOT NULL
);

2. Tabela de Dimensão Dim_Country - Para Países:

In [ ]:
CREATE TABLE Dim_Country (
    country_id SERIAL PRIMARY KEY,
    country_name VARCHAR(100) NOT NULL
);

3. Tabela de Dimensão Dim_Genre - Para Gêneros:

In [ ]:
CREATE TABLE Dim_Genre (
    genre_id SERIAL PRIMARY KEY,
    genre_name VARCHAR(100) NOT NULL
);

4. Tabela de Fatos Fact_Show:

In [ ]:
CREATE TABLE Fact_Show (
    fact_id SERIAL PRIMARY KEY,
    show_id VARCHAR(50) NOT NULL,
    date_id INT REFERENCES Dim_Date(date_id),
    country_id INT REFERENCES Dim_Country(country_id),
    genre_id INT REFERENCES Dim_Genre(genre_id),
    type VARCHAR(10),
    title VARCHAR(255),
    director VARCHAR(100),
    cast VARCHAR(255),
    release_year INT,
    rating VARCHAR(10),
    duration VARCHAR(50),
    description TEXT
);