### Data Analysis

1. Nome mais comum entre atores e atrizes:

In [ ]:
SELECT member_name, 
       COUNT(*) AS total_count
FROM Cast_Gender

WHERE gender IN ('male', 'female')
GROUP BY member_name
ORDER BY total_count DESC
LIMIT 1;

2. Filme com o maior intervalo de tempo desde o lançamento até aparecer na Netflix

In [ ]:
SELECT title, 
       release_year, 
       date_value AS data_entrada,
       EXTRACT(YEAR FROM age(date_value, release_year || '-01-01')) AS intervalo_tempo
FROM Fact_Show

JOIN Dim_Date 
    ON Fact_Show.date_id = Dim_Date.date_id

ORDER BY intervalo_tempo DESC
LIMIT 1;

3. Mês do ano que teve mais novos lançamentos historicamente

In [ ]:
SELECT EXTRACT(MONTH FROM date_value) AS mes,
       COUNT(*) AS total_lancamentos
FROM Fact_Show

JOIN Dim_Date 
ON Fact_Show.date_id = Dim_Date.date_id

GROUP BY mes
ORDER BY total_lancamentos DESC
LIMIT 1;

4. Ano com o maior aumento ano sobre ano (em termos percentuais) para programas de TV:

In [ ]:
WITH tv_counts AS (
    SELECT release_year,
           COUNT(*) AS tv_count
    FROM Fact_Show
    WHERE type = 'TV Show'
    GROUP BY release_year
)

SELECT current_year.release_year as ano_lancamento, 
       (current_year.tv_count - previous_year.tv_count) AS aumento,
       ((current_year.tv_count - previous_year.tv_count) / previous_year.tv_count) * 100 AS aumento_percentual
FROM tv_counts current_year

JOIN tv_counts previous_year 
ON current_year.release_year = previous_year.release_year + 1

ORDER BY aumento_percentual DESC
LIMIT 1;

5. Lista de atrizes que apareceram em um filme com Woody Harrelson mais de uma vez.

In [ ]:
SELECT DISTINCT cg1.member_name
FROM Cast_Gender cg1

JOIN Cast_Gender cg2 
    ON cg1.show_id = cg2.show_id

WHERE cg1.member_name ILIKE '%Woody Harrelson%' 
    AND cg2.gender = 'female'
    
GROUP BY cg1.member_name
HAVING COUNT(DISTINCT cg2.member_name) > 1;